<section class="container">
  <h3 class="animal-name">{{animal.animal_name}}</h3>
  <img src="/images/{{animal.filename}}" alt="{{animal.description}}" />

  <h4>My Breed Is: {{animal.breed}}</h4>
  <h4>My Age Is: {{animal.age}}</h4>

  <section class="flex-row justify-center">
    <p>{{animal.description}}</p>
  </section>
</section>