{{#each animals as |animal|}}
<div class="row align-center d-flex justify-content-center ">
  <div class="col-md-6 animal-bg">
    <div class="animal-image">
      <a href="/animals/{{animal.id}}">
        <img class="animal-image" src="/images/{{animal.filename}}" alt="{{animal.description}}" />
      </a>
    </div>
    <div class="animal-content">
      <h2>Name: {{animal.animal_name}}</h2>
      <h3>Breed: {{animal.breed}}</h3>
      <h3> Gender: {{animal.gender}}</h3>
      <h3>Age: {{animal.age}}</h3>
    </div>
  </div>
</div>
{{/each}}